body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #35435A;
    border-color: #35435A;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
        color: #fff;
}

.form-group {
    margin-bottom: 22px;
}

.form-control {
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}
.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow : none;
}
.btn {
    padding: 7px 20px;
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}
.alert {
    border-radius: 13px;
}

img {
    height: 65px;
    width: 61px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.cover-preview {
    height: 115px;
    width: 200px;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 5px;
}
.avatar-preview {
    height: 160px;
    width: 125px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.gameplay-preview {
    height: 180px;
    width: 220px;
    margin-bottom: 30px;
    margin-right: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: middle;
    
}
.upload-image {
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.gameplay-image {
    background-color: antiquewhite;
}
.cover-image {
    background-color: #dbe8ff;
}
.avatar-image {
    background-color: #f2d7e3;
}
.tools-section {
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.notification-sender {
    background-color: #dbe8ff;
}
.tools-section-title {
    text-align: center
}

