<div class="jumbotron">
    <h1> Teeleh Development Platform</h1>
    <p class="lead">A service/platform for users to sell or exchange their second-hand video games with others. Our service also has a special section for console games. A user can tell their game preferences to Teeleh and get a notification when a suitable game is available. There is also a section about game news and upcoming updates.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

